{% extends "core/base.html" %}
{% block title %}Subcategoria{% endblock %}


<!--=====================================
LOGO
======================================-->

{% block logo %}
    {% load static %}
    {% static 'core/vistas/img/plantilla/logo.png' %}
{% endblock %}

<!--=====================================
			SOCIAL
	======================================-->
{% block facebook %}
    facebookColor
{% endblock %}

{% block youtube %}
    youtubeColor
{% endblock %}

{% block twitter %}
    twitterColor
{% endblock %}

{% block google %}
    googleColor
{% endblock %}

{% block content %}

<h1>SUBCATEGORIA</h1>

{% endblock %}


<!--=====================================
Banner
======================================-->

{% block imgbanner %}
     {% load static %}
      {% static 'core/vistas/img/banner/default.jpg' %}
{% endblock %}

{% block styleBanner %}
    textoIzq
{% endblock %}

{% block TituloBanner %}
    TITULO DE PRUEBA
{% endblock %}


{% block OfertaBanner %}
    50% DE DESCUENTO
{% endblock %}

{% block fechaBanner %}
    Hasta el 31 de Agosto
{% endblock %}